

<div class="mainCard">
    <div class="col-md-6">
      <h2 class="pending-tasks-title">Tareas Pendientes</h2>
      <ul class="list-group pending-tasks-list">
        <li class="list-group-item pending-task-item" *ngFor="let task of pendingTasks; let i = index">
          <span class="pending-task-description"> {{i + 1}}.- {{ task.description }}</span>
          <span class="badge badge-info text-dark pending-task-date">{{ task.fecha | date:'yyyy-MM-dd' }}</span>
        </li>
      </ul>
      <div *ngIf="pendingTasks.length === 0" class="no-pending-tasks">No hay tareas pendientes</div>
      <div class="noteContainer">
        <button routerLink="/tasks" type="submit" class="btn btn-primary pending-tasks-button">BACK</button>
      </div>
    </div>
</div>
