
  <div class="mainCard">
    <div>
      <h2 class="agenda-title">Agenda de Tareas</h2>
    </div>
     <div class="row notes-container">
        <div class="note" *ngFor="let task of tasks">
          <div class="note-header">
          <div class="close-btn"  (click)="deleteTask(task.id)">
            <p> <i class="bi bi-x-lg"></i></p>
          </div>
          </div>
          <p style="margin: .5rem;">    {{ task.description }}</p>
          <div class="checkboxCard">
            <ng-container *ngIf="hasTaskExpired(task); else notFinishedMessage">
              <div>Tarea finalizada el:</div>
              <span class="badge badge-info text-dark agenda-task-date">{{ task.fecha | date:'yyyy-MM-dd' }}</span>
            </ng-container>
            <ng-template #notFinishedMessage>
              <div>Tarea finaliza el:</div>
              <span class="badge badge-info text-dark agenda-task-date">{{ task.fecha | date:'yyyy-MM-dd' }}</span>
            </ng-template>

          </div>
          <div class="checkboxCard">
            <div>Estatus finalizado:</div>
            <input class="form-check-input" type="checkbox" [(ngModel)]="task.done" (ngModelChange)="updateStatusTask(task)"  >
          </div>
        </div>
        <div class="noteContainer">
          <div class="note-plus" [routerLink]="['/tasks/update/']">+</div>
        </div>
      </div>

    <div *ngIf="!tasks || tasks.length === 0" class="no-tasks">No hay tareas</div>
      <button routerLink="pendient" class="btn btn-primary agenda-button">Tareas Pendientes</button>
  </div>



